{% extends "layout.njk" %}

{% block head %}
    <title>Não Encontrado</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
{% endblock %}

{% block content %}
<div id="wrapper">
    <h1>Página não encontrada</h1>
    <p>O conteúdo buscado não existe</p>
</div>
{% endblock %}